@import url('./base.css');

body {
    background-image: url('./../img/bg-imgs/bg-1.png');
    background-size: cover;
}

.navbar-nav {
    --bs-nav-link-padding-x: 0;
    --bs-nav-link-padding-top: 40px;
    --bs-nav-link-font-weight: 400;
    --bs-nav-link-color: var(--mainColor);
    --bs-nav-link-hover-color: var(--bs-navbar-hover-color);
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.navbar-nav .nav-item {
    --bs-nav-link-hover-color: var(--linkColor);
}

.dropdown-item {
    display: block;
    width: 100%;
    padding: var(--bs-dropdown-item-padding-y) var(--bs-dropdown-item-padding-x);
    clear: both;
    font-weight: 400;
    color: var(--linkColor);
    text-align: inherit;
    text-decoration: none;
    white-space: nowrap;
    background-color: var(--hoverColor);
    border: 0;

}

.dropdown-menu {
    --bs-dropdown-bg: var(--hoverColor);
    --bs-dropdown-link-active-bg: var(--mainColor);
}

.get-start {
    padding: 40px;
    display: flex;
    gap: 15px;
}

.register .btn,
.login .btn {
    border-radius: 3px;
    font-weight: 500;
    padding: 10px;
    height: 50px;
    background-color: var(--mainColor);
    color: var(--linkColor);
}

.login .btn {
    width: 70px;
}

.register .btn:hover {
    background-color: var(--linkColor);
    color: var(--mainColor);
}

.login .btn:hover {
    background-color: var(--linkColor);
    color: var(--mainColor);
}

.section-1 {
    background-color: var(--linkColor);
}

.section-1 h1 {
    width: 45%;
    font-size: 55px;
}

.section-1 h1,
.section-1 h2 {
    font-family: var(--mainFont);
}

.section-1 .sec1-title p {
    font-size: 20px;
    width: 30%;
    border-left: 1px solid black;
    padding-left: 6px;
}

.section-1 .row .sec1-contant .icon i {
    padding: 15px;
    font-size: 20px;
    border-radius: 50%;
    background-color: var(--hoverColor);
    color: var(--linkColor);
}

.section-1 .nav-link {
    text-align: center;
    font-family: var(--mainFont);
    padding: 10px;
    height: 45px;
    width: 150px;
    border-radius: 5px;
    background-color: var(--mainColor);
    color: var(--linkColor);
}

.section-1 .nav-link:hover {
    background-color: var(--hoverColor);
}

@media screen and (max-width: 1000px) {
    .section-1 .row .sec1-contant {
        flex-direction: column;
    }
}

@media screen and (max-width: 775px) {

    .section-1 h1,
    .section-1 .sec1-title p {
        width: 100%;
    }

    .section-1 .sec1-title {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .section-1 .row .sec1-contant {
        flex-direction: row;
        justify-content: center;
    }

    .section-1 .footer-sec1 {
        flex-direction: column;
        align-items: center;
    }
}

.section-2 {
    background-color: var(--linkColor);
}

.section-2 .container {
    background-image: url('../img/bg-imgs/bg-2.png');
}

.section-2 .sec2-contant {
    position: relative;
    z-index: 1;
}

.section-2 .sec2-contant::after {
    content: '';
    position: absolute;
    bottom: 80px;
    left: 0;
    width: 100%;
    height: .5px;
    background-color: black;
    z-index: -1;
}

.section-2 .sec2-contant .p {
    font-family: var(--mainFont);
    width: 75%;
    font-weight: 600;
    text-align: center;
    font-size: large;
}

.section-2 .sec2-contant .nav-link {
    text-align: center;
    font-family: var(--mainFont);
    padding: 5px;
    width: 120px;
    border-radius: 25px;
    background-color: var(--linkColor);
    color: var(--mainColor);
    border: 1px solid black;
}

.section-2 .sec2-contant .nav-link:hover {
    background-color: var(--mainColor);
    color: var(--linkColor);
}

@media screen and (max-width: 500px) {
    .section-2 .sec2-contant {
        width: 100%;
    }
}

@media screen and (max-width: 400px) {
    .section-2 {
        display: none;
    }
}

.section-3 {
    background-color: var(--linkColor);
}

.section-3 .sec3-contant1 {
    width: 90%;
}

.section-3 .sec3-contant2 {
    width: 80%;
}

.section-3 .sec3-contant1 h1,
.section-3 .sec3-contant2 .play-i h3 {
    font-family: var(--mainFont);
}

.section-3 .sec3-contant2 .play-i i {
    width: 40px;
    height: 40px;
    font-size: 20px;
    background-color: var(--hoverColor);
    color: var(--linkColor);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}


@media screen and (max-width: 1155px) {
    .section-3 .row {
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 775px) {
    .section-3 .row {
        align-items: flex-start;
        flex-direction: column;
    }
    .section-3 .sec3-contant1, 
    .section-3 .sec3-contant2 {
        width: 100%; 
        margin: 10px 0; 
    }
    .section-3 .pic-sec3 img {
        width: 400px;
        height: 400px;
    }
}

@media screen and (max-width: 600px) {
    .section-3 .sec3-contant1, 
    .section-3 .sec3-contant2 {
        width: 100%; 
        padding: 0 15px;  
    }
    .section-3 .pic-sec3 img {
        width: 300px;
        height: 300px;
    }
}
@media screen and (max-width: 500px) {
    .section-3 .sec3-contant1, 
    .section-3 .sec3-contant2 {
        width: 100%; 
    }
}
@media screen and (max-width: 400px) {
    .section-3 .sec3-contant1, 
    .section-3 .sec3-contant2 {
        width: 100%; 
        padding: 0;
        margin: 0;
    }
}

.section-4 {
    width: 100%;
    background-color: #fafafa;
    padding: 50px 0;
    text-align: center;
}

.section-4 h1 {
    font-size: 50px;
    padding: 20px;
    margin: 30px;
    font-family: var(--mainFont);
    text-align: center;

}

.section-4 .sec4-cocntant img {
    border-radius: 50%;
}

.section-4 .sec4-cocntant img:hover {
    transform: scale(1.08);
}

.section-4 .sec4-cocntant .card-title {
    padding: 10px;
    border-radius: 10px;
}

.section-4 .sec4-cocntant .card-title:hover {
    background-color: var(--hoverColor);
    color: var(--linkColor);
}

@media screen and (max-width: 775px) {
    .section-4 .row {
        flex-direction: column;
        align-items: center;
    }

    .section-4 .row .sec4-cocntant {
        width: 65%;
    }

    .section-4 .row .sec4-cocntant .card-title {
        width: 100%;
    }

}

.section-6 {
    background-color: var(--linkColor);
}

.section-6 .container {
    background-image: url('../img/bg-imgs/pg-sec6.jpg');
}

.section-6 .sec6-contant {
    height: 530px;
    width: 100%;
}

.section-6 .sec6-contant h1 {
    font-family: var(--mainFont);
}

.section-6 .sec6-contant p {
    width: 50%;
}

.section-6 .sec6-contant .nav-link {
    text-align: center;
    font-family: var(--mainFont);
    padding: 7px;
    width: 150px;
    border-radius: 5px;
    background-color: var(--mainColor);
    color: var(--linkColor);
}

.section-6 .sec6-contant .nav-link:hover {
    background-color: var(--hoverColor);
}

.section-7 {
    background-color: var(--linkColor);
}

@media screen and (max-width: 575px) {
    .section-6 .sec6-contant p {
        width: 100%;
    }

}

.section-7 h1,
.section-7 .icons {
    font-family: var(--mainFont);
}

.section-7 .icons i {
    font-size: 12px;
    padding: 5px;
    border: 3px solid var(--hoverColor);
    border-radius: 50%;
    color: var(--hoverColor);
}

.section-7 .nav-link {
    text-align: center;
    font-family: var(--mainFont);
    padding: 7px;
    width: 150px;
    border-radius: 5px;
    background-color: var(--mainColor);
    color: var(--linkColor);
}

.section-7 .nav-link:hover {
    background-color: var(--hoverColor);
}

@media screen and (max-width: 1200px) {
    .section-7 .row {
        align-items: center;
        flex-direction: column;
        gap: 15px;
    }
}

@media screen and (max-width: 780px) {
    .section-7 .row {
        align-items: start;
    }

    .section-7 .sec7-contant {
        width: 100%;
    }
}

@media screen and (max-width: 560px) {
    .section-7 img {
        width: 330px;
    }

}

@media screen and (max-width: 400px) {
    .section-7 img {
        width: 280px;
    }

}
























------------ .footer-contant {
    background-image: url(../img/bg-imgs/bg-1.png);
}

.footer-contant .footer-s1 .nav-link {
    font-family: var(--mainFont);
    width: 200px;
    text-align: center;
    padding: 8px;
    background-color: var(--mainColor);
    border-radius: 5px;
    color: var(--linkColor);
}

.footer-contant .footer-s1 .nav-link:hover {
    background-color: var(--linkColor);
    color: var(--mainColor);
}

.footer-contant .row .social-media i {
    text-align: center;
    background-color: var(--mainColor);
    color: var(--linkColor);
    padding: 10px;
    border-radius: 50%;
}

.footer-contant .row .social-media i:hover {
    background-color: var(--linkColor);
    color: var(--hoverColor);
}

.footer-contant .row .nav-link {
    font-family: var(--mainFont);
    font-size: larger;
    font-weight: 600;
}

.footer-contant .row .footer-s2 {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer-contant .row .list-group {
    font-family: var(--mainFont);
    display: flex;
    gap: 10px;
}

@media screen and (max-width: 990px) {
    .footer-contant .footer-s1 {
        flex-direction: column;
    }

    .footer-contant .row .footer-s2 {
        width: 100%;
        flex-direction: column;
        align-items: start;
        max-width: fit-content;
    }

    .footer-contant .footer-s3 {

        flex-direction: column;
        align-items: start;
        max-width: fit-content;
    }
}