@import url('./base.css');

body {
    background-image: url('./../img/bg-imgs/bg-1.png');
}

.navbar.scrollNavbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: var(--hoverColor);
    height: 90px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.navbar-nav {
    --bs-nav-link-padding-x: 0;
    --bs-nav-link-padding-top: 40px;
    --bs-nav-link-font-weight: 400;
    --bs-nav-link-color: var(--mainColor);
    --bs-nav-link-hover-color: var(--bs-navbar-hover-color);
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.navbar-nav .nav-item {
    --bs-nav-link-hover-color: var(--linkColor);
}

.dropdown-item {
    display: block;
    width: 100%;
    padding: var(--bs-dropdown-item-padding-y) var(--bs-dropdown-item-padding-x);
    clear: both;
    font-weight: 400;
    color: var(--linkColor);
    text-align: inherit;
    text-decoration: none;
    white-space: nowrap;
    background-color: var(--hoverColor);
    border: 0;

}

.dropdown-menu {
    --bs-dropdown-bg: var(--hoverColor);
    --bs-dropdown-link-active-bg: var(--mainColor);
}

.get-start {
    padding: 40px;
    display: flex;
    gap: 15px;
}

.register .btn,
.login .btn {
    border-radius: 3px;
    font-weight: 500;
    padding: 10px;
    height: 50px;
    background-color: var(--mainColor);
    color: var(--linkColor);
}

.login .btn {
    width: 70px;
}

.register .btn:hover {
    background-color: var(--linkColor);
    color: var(--mainColor);
}

.login .btn:hover {
    background-color: var(--linkColor);
    color: var(--mainColor);
}

@media screen and (max-width:991px) {
    .navbar .navbar-collapse {
        background-color: var(--hoverColor);
        padding-left: 15px;
    }
}

.cart {
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: var(--linkColor);
}

.cart .cart-contant {
    border: 1px solid black;
}

.cart .cart-contant h6 {
    font-family: var(--mainFont);
    font-size: 15px;
}

.cart .cart-contant .contant {
    border-bottom: 1px solid black;
}

.cart .cart-contant .contant .product span {
    color: var(--hoverColor);
}

.cart .cart-contant .nav-link {
    font-family: var(--mainFont);
    width: 25%;
    padding: 15px;
    background-color: #e1e1e1;
    color: #3f3f3f;
    border-radius: 5px;
    text-align: center;
}

.cart .cart-contant .nav-link:hover {
    background-color: #b4b4b4;
}

.cart .coupon {
    border: 1px solid black;
}

.cart .coupon input {
    border: 1px solid #fafafa;
    padding: 10px;
    width: 60%;
    background-color: #fafafa;
}

.cart .coupon button {
    width: 30%;
    background-color: var(--mainColor);
    color: var(--linkColor);
    border: 1px solid var(--mainColor);
    font-family: var(--mainFont);
}

.cart .coupon button:hover {
    background-color: var(--hoverColor);
    border: 1px solid var(--hoverColor);
}

.cart .contact-2 {
    border: 1px solid black;
    height: 280px;
}

.cart .cart-totals .checkout button {
    width: 100%;
    padding: 10px;
    font-family: var(--mainFont);
    font-size: 17px;
    border-radius: 3px;
    color: var(--linkColor);
    border: 1px solid var(--hoverColor);
    background-color: var(--hoverColor);
}

.cart .cart-totals .checkout button:hover {
    border: 1px solid var(--mainColor);
    background-color: var(--mainColor);
}

@media screen and (max-width:995px) {
    .cart .row {
        flex-direction: column;
        gap: 10px;
    }

    .cart .col-8 {
        width: 100%;
    }

    .cart .contact-2 {
        width: 90%;
        margin: 10px;
    }

}

@media screen and (max-width:775px) {
    .cart .col-8 {
        width: 90%;
    }

    .cart .cart-contant .contant {

        flex-direction: column;
    }

    .cart .cart-contant .nav-link {
        width: 70%;
    }

    .cart .coupon {
        flex-direction: column;
        gap: 10px;
    }

    .cart .coupon input {
        width: 90%;
    }

    .cart .coupon button {
        padding: 10px;
        width: 80%;
    }


}

.footer-contant {
    background-image: url(../img/bg-imgs/bg-1.png);
}

.footer-contant .footer-s1 .nav-link {
    font-family: var(--mainFont);
    width: 200px;
    text-align: center;
    padding: 8px;
    background-color: var(--mainColor);
    border-radius: 5px;
    color: var(--linkColor);
}

.footer-contant .footer-s1 .nav-link:hover {
    background-color: var(--linkColor);
    color: var(--mainColor);
}

.footer-contant .row .social-media i {
    text-align: center;
    background-color: var(--mainColor);
    color: var(--linkColor);
    padding: 10px;
    border-radius: 50%;
}

.footer-contant .row .social-media i:hover {
    background-color: var(--linkColor);
    color: var(--hoverColor);
}

.footer-contant .row .nav-link {
    font-family: var(--mainFont);
    font-size: larger;
    font-weight: 600;
}

.footer-contant .row .footer-s2 {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer-contant .row .list-group {
    display: flex;
    gap: 5px;
}

.footer-contant .row .list-group .link {
    text-decoration: none;
    color: var(--mainColor);
    font-family: var(--mainFont);

}

.footer-contant .footer-s3 .link {
    text-decoration: none;
    color: var(--mainColor);
    font-family: var(--mainFont);
}


@media screen and (max-width: 990px) {
    .footer-contant .footer-s1 {
        flex-direction: column;
    }

    .footer-contant .row .footer-s2 {
        width: 100%;
        flex-direction: column;
        align-items: start;
        max-width: fit-content;
    }

    .footer-contant .footer-s3 {

        flex-direction: column;
        align-items: start;
        max-width: fit-content;
    }
}