@import url('./base.css');

body {
    background-image: url('./../img/bg-imgs/bg-1.png');
}

.navbar.scrollNavbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: var(--hoverColor);
    height: 90px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.navbar-nav {
    --bs-nav-link-padding-x: 0;
    --bs-nav-link-padding-top: 40px;
    --bs-nav-link-font-weight: 400;
    --bs-nav-link-color: var(--mainColor);
    --bs-nav-link-hover-color: var(--bs-navbar-hover-color);
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.navbar-nav .nav-item {
    --bs-nav-link-hover-color: var(--linkColor);
}

.dropdown-item {
    display: block;
    width: 100%;
    padding: var(--bs-dropdown-item-padding-y) var(--bs-dropdown-item-padding-x);
    clear: both;
    font-weight: 400;
    color: var(--linkColor);
    text-align: inherit;
    text-decoration: none;
    white-space: nowrap;
    background-color: var(--hoverColor);
    border: 0;

}

.dropdown-menu {
    --bs-dropdown-bg: var(--hoverColor);
    --bs-dropdown-link-active-bg: var(--mainColor);
}

.get-start {
    padding: 40px;
    display: flex;
    gap: 15px;
}

.register .btn,
.login .btn {
    border-radius: 3px;
    font-weight: 500;
    padding: 10px;
    height: 50px;
    background-color: var(--mainColor);
    color: var(--linkColor);
}

.login .btn {
    width: 70px;
}

.register .btn:hover {
    background-color: var(--linkColor);
    color: var(--mainColor);
}

.login .btn:hover {
    background-color: var(--linkColor);
    color: var(--mainColor);
}

@media screen and (max-width:991px) {
    .navbar .navbar-collapse {
        background-color: var(--hoverColor);
        padding-left: 15px;
    }
}

.price {
    background-color: var(--linkColor);
}

.price .img {
    background-color: #fff8ed;
    position: relative;
}

.price .img i {
    position: absolute;
    top: 30px;
    right: 30px;
    padding: 20px;
    border-radius: 50%;
    font-size: 20px;
    background-color: var(--linkColor);
}

.price .contant .icons {
    color: #e98634;
}

.price .contant-2 {
    border-bottom: 1px solid black;
}

.price .nav-link {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--mainFont);
    font-size: 18px;
    padding: 10px;
    height: 50px;
    width: 140px;
    text-align: center;
    background-color: var(--mainColor);
    color: var(--linkColor);
}

.price .nav-link:hover {
    background-color: var(--hoverColor);
}

.desc {
    background-color: var(--linkColor);
}

.desc .card {
    border: 0;
}

.desc .card-header {
    background-color: var(--linkColor);
    border-bottom: 1px solid black;
}

.desc .card-header .nav-item .nav-link {
    color: var(--mainColor);
    border: 1px solid black;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom: 0;
    height: 50px;
}

.desc .card-body-1 .form-control {
    box-shadow: none !important;
    border: 1px solid black;
}

.card .form-check .form-check-input {
    box-shadow: none !important;
    border: 1px solid black;
    background-color: var(--hoverColor);
}

.desc .card-body-1 .btn {
    padding: 10px;
    background-color: #e1e1e1;
    color: #3f3f3f;
    font-family: var(--mainFont);
    border-radius: 5px;
}

.desc .card-body-1 .btn:hover {
    background-color: #b4b4b4;
}

.star {
    color: rgb(128, 128, 128);
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.star.hover {
    color: #925774;
}

.star.selected {
    color: var(--hoverColor);
}

@media screen and (max-width:768px) {
    .price .contant .icon{
        display: flex;
        flex-direction: column;
    }
    .icon .icons{
        display: flex;
    }
}







.product-2 {
    background-color: #fafafa;
}

.product-2 .text-contant .beauty {
    font-family: var(--mainFont);
    font-size: xx-large;
}

.text-contant .nav-link {
    padding: 10px;
    height: 50px;
    width: 140px;
    text-align: center;
    background-color: var(--mainColor);
    color: var(--linkColor);
}

.text-contant .nav-link:hover {
    background-color: var(--hoverColor);
}

.col-xl-3 .card {
    background-color: var(--linkColor);
    border: none;
    border-radius: 0%;
}

.card-body {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.card-body .card-title {
    font-family: var(--mainFont);
    font-size: large;
    font-weight: 500;
}

.card-body .add {
    background-color: var(--mainColor);
    font-family: var(--mainFont);
    padding: 5px;
    width: 70%;
    text-align: center;
    font-size: large;
    text-decoration: none;
    color: var(--linkColor);
}

.card-body .price {
    color: #e98634;
    font-size: 18px;
    font-weight: 500;

}

.card-body .add:hover {
    background-color: var(--hoverColor);

}

@media screen and (max-width:768px) {
    .product-2 .text-contant .beauty {
        font-family: var(--mainFont);
        font-size: large;
    }

    .flex-column {
        gap: 12px;
    }

    .card-body {
        gap: 10px;
    }

    .card-body .card-title {
        width: 100%;
    }

    .card-body .add {
        padding: 5px;
        width: 80%;

    }
}


.section-6 {
    background-color: #fafafa;
}

.section-6 .row {
    background-color: #fff8ed;
}

.section-6 .row .work {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-top: 35px;
    padding-bottom: 45px;
    border-bottom: 1px solid black;
}

.section-6 .row h3,
.section-6 .row h4 {
    font-family: var(--mainFont);
}

.section-6 .row h3 {
    padding: 15px;
    color: var(--linkColor);
    background-color: var(--hoverColor);
}

.section-6 .row .work h4 {
    width: 30%;
    margin: 0;
}

.section-6 .row .work p {
    width: 60%;
    margin: 0;
}

.section-6 .row h1,
.section-6 .row h4 {
    font-family: var(--mainFont);
}

@media (max-width: 775px) {
    .section-6 .row .work h4 {
        width: 100%;
        margin: 0;
    }

    .section-6 .row .work p {
        width: 100%;
        margin: 0;
    }
}



.footer-contant {
    background-image: url(../img/bg-imgs/bg-1.png);
}

.footer-contant .footer-s1 .nav-link {
    font-family: var(--mainFont);
    width: 200px;
    text-align: center;
    padding: 8px;
    background-color: var(--mainColor);
    border-radius: 5px;
    color: var(--linkColor);
}

.footer-contant .footer-s1 .nav-link:hover {
    background-color: var(--linkColor);
    color: var(--mainColor);
}

.footer-contant .row .social-media i {
    text-align: center;
    background-color: var(--mainColor);
    color: var(--linkColor);
    padding: 10px;
    border-radius: 50%;
}

.footer-contant .row .social-media i:hover {
    background-color: var(--linkColor);
    color: var(--hoverColor);
}

.footer-contant .row .nav-link {
    font-family: var(--mainFont);
    font-size: larger;
    font-weight: 600;
}

.footer-contant .row .footer-s2 {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer-contant .row .list-group {
    display: flex;
    gap: 5px;
}

.footer-contant .row .list-group .link {
    text-decoration: none;
    color: var(--mainColor);
    font-family: var(--mainFont);

}

.footer-contant .footer-s3 .link {
    text-decoration: none;
    color: var(--mainColor);
    font-family: var(--mainFont);
}


@media screen and (max-width: 990px) {
    .footer-contant .footer-s1 {
        flex-direction: column;
    }

    .footer-contant .row .footer-s2 {
        width: 100%;
        flex-direction: column;
        align-items: start;
        max-width: fit-content;
    }

    .footer-contant .footer-s3 {

        flex-direction: column;
        align-items: start;
        max-width: fit-content;
    }
}